[build]
builder = "Nixpacks"

[deploy]
buildCommand = ""
startCommand = "bash start.sh"
healthcheckPath = "/healthz"
healthcheckTimeout = 1200
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
