fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
requests
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
httpx
slowapi==0.1.9
bcrypt==4.0.1
email-validator==2.1.1

# observability
prometheus-client==0.20.0
python-json-logger==2.0.7
