name: notify-reusable

on:
  workflow_call:
    inputs:
      summary:
        description: "Mensagem curta para log"
        required: false
        type: string

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Print inputs
        run: |
          echo "summary: ${{ inputs.summary }}"
