name: notify-reusable

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Context
        run: |
          echo "ref=${{ github.ref }}"
          echo "sha=${{ github.sha }}"
          echo "actor=${{ github.actor }}"
          echo "event=${{ github.event_name }}"
