name: notify-reusable

on:
  workflow_call:
    inputs:
      trigger_workflow:
        type: string
        required: true
      status:
        type: string
        required: true
      conclusion:
        type: string
        required: false
      html_url:
        type: string
        required: true
      head_branch:
        type: string
        required: false
      head_sha:
        type: string
        required: false

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Print workflow info
        run: |
          echo "TRIGGERED BY:  ${{ inputs.trigger_workflow }}"
          echo "STATUS:        ${{ inputs.status }}"
          echo "CONCLUSION:    ${{ inputs.conclusion }}"
          echo "BRANCH:        ${{ inputs.head_branch }}"
          echo "SHA:           ${{ inputs.head_sha }}"
          echo "HTML_URL:      ${{ inputs.html_url }}"
