name: notify-reusable

on:
  workflow_call:
    inputs:
      text:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      text:
        description: "Mensagem"
        required: false
        default: ""

permissions:
  contents: read

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Print
        run: |
          echo "text=${{ inputs.text }}"
          echo "workflow=${{ github.workflow }}"
          echo "ref=${{ github.ref }}"
          echo "sha=${{ github.sha }}"
